html,
body {
  background-color: #333;
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.outer {
  display: table;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 72px;
}


/* Links */
/* a,
a:hover,
a:focus {
  color: #fff;
}*/

.desc {
  padding-bottom: 32px;
  font-size: 18px;
}


/* Buttons */
.btn-icon {
  display: inline-block;
  color: #fff;
  padding: 2px 14px;
  transition-duration: 0.3s;
}

.btn-icon:hover {
  color: #808080;
}
